.calendarWrap{
    display: inline-block;
    position: relative;
}

.calendarElement{
    position: absolute;
    left: -420px;
    transform: translateX(-50%);
    top: 20px;
    border: 1px solid #ccc;
    z-index: 999;
}